html, body {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
	}
html {
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/5894082-formas-geometricas-corporativas-fundo-colorido-para-banners-posters-cartoes-website-brochura-gratis-vetor.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Playfair Display", serif;
    font-size: 25px;
}
body{
    background: linear-gradient(#CEDBC7, #0682C1, #F8B20A);
    width: 1600px;
    max-width: 2000px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 50px #000000aa;
    padding: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
}
h1 {
    font-size: large;
    background: red;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    color: rgb(0, 0, 0);
    margin-top: 0;
    
}
h2 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-top: 0;
   
}
h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-top: 0;
    text-align: center;
}
.summary{
    font-size: 20px;
}
ol, ul {
    text-align: left;
}
a {
    color: red;
}

    