@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html, body {
    margin: 0;
	padding: 0;
    
	}
html {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200731pngtree-blue-carbon-background-with-sport-style-and-golden-light-image_371487.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Merriweather", sans-serif;
    font-size: 20px;
}
body{
    background-color:  rgba(112,132,134,1);
    width: 1400px;
    max-width: 2000px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 50px #000000aa;
    padding: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
}
h1 {
    letter-spacing: 1px;
    font-size: large;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
    color: #D6BD3F;
    margin-top: 0;
    
}
h2 {
    letter-spacing: 1px;
    font-size: 40px;
    color: #D6BD3F;
    margin-top: 0;
}
h3 {
    font-size: 20px;
    letter-spacing: 1px;
    color: #D6BD3F;
    margin-top: 0;
    text-align: justify;
}
p {
    margin-top: 0;
    color: #000000;
    text-align: justify;
}
.summary{
    font-size: 15px;
}
ol, ul {
    text-align: left;
}
a {
    color: #D6BD3F;
}
a:hover, a:focus, a:active { 
	text-decoration: underline;
    
    color:#4B6387 ;
}
.intro { 
	min-width: 470px;
	width: 100%;
	}

    